# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.env.*

# Virtualenv
venv/
ENV/
env/

# VSCode (если используешь)
.vscode/

# Alembic
alembic/versions/*.pyc

# Pytest
.cache/
*.cover
coverage.xml
htmlcov/

# Docker
*.log
*.pid
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db
